# file types
*.a
*.bak
*.elf
*.log
*.o
tests/run_all.c
cmake_install.cmake
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CTestTestfile.cmake
Makefile

# folders
.vscode
CMakeFiles
docs
Testing
